.gridrow {
  display: flex;
}

.gridbox {
  background-color: black;
}

.gridContainer {
  height: 500px;
  width: 500px;
  border: 10px solid blue;
}

.pageContainer {
  display: flex;
  justify-content: center;
}

.gridbox {
  user-select: none;
}